<div class="order" id="how-to-order"">
    <div class="container order__container">
        <h2 class="order__headline">Как заказать?</h2>
        <ul class="order__list">
            <li class="order__item">
                <div class="order__img">
                    <img src="images/order1.png" alt="" class="order__img-icon">
                </div>
                <div class="order__item-description">Выберите обогревать и нажмите “заказать”</div>
            </li>
            <li class="order__item order__separator">
                <img src="images/arrow50px_right.png" alt="" class="order__separator-desktop">
                <img src="images/arrow50px_down.png" alt="" class="order__separator-mobile">
            </li>
            <li class="order__item">
                <div class="order__img">
                    <img src="images/order2.png" alt="" class="order__img-icon">
                </div>
                <div class="order__item-description">Введите контактные данные и адрес доставки. Номер и адрес склада Новой почты, вы можете узнать здесь</div>
            </li>
            <li class="order__item order__separator">
                <img src="images/arrow50px_right.png" alt="" class="order__separator-desktop">
                <img src="images/arrow50px_down.png" alt="" class="order__separator-mobile">
            </li>
            <li class="order__item">
                <div class="order__img">
                    <img src="images/order3.png" alt="" class="order__img-icon">
                </div>
                <div class="order__item-description">С Вами свяжется менеджер для подтверждения заказа</div>
            </li>
            <li class="order__item order__separator">
                <img src="images/arrow50px_right.png" alt="" class="order__separator-desktop">
                <img src="images/arrow50px_down.png" alt="" class="order__separator-mobile">
            </li>
            <li class="order__item">
                <div class="order__img">
                    <img src="images/order4.png" alt="" class="order__img-icon">
                </div>
                <div class="order__item-description">Через несколько дней, посылка прибудет, о чем Вас известят по смс</div>
            </li>
            <li class="order__item order__separator">
                <img src="images/arrow50px_right.png" alt="" class="order__separator-desktop">
                <img src="images/arrow50px_down.png" alt="" class="order__separator-mobile">
            </li>
            <li class="order__item">
                <div class="order__img">
                    <img src="images/order5.png" alt="" class="order__img-icon">
                </div>
                <div class="order__item-description">На складе Новой почты, осмотрите и проверьте обогреватель и если все в порядке - осуществите оплату.</div>
            </li>
        </ul>
    </div>
</div>