@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-thin.eot');
  src: url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-thin.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-thin.woff2') format('woff2'),
  url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-thin.woff') format('woff'),
  url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PF Din Text Cond Pro';
  src: url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-medium.eot');
  src: url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-medium.woff2') format('woff2'),
  url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-medium.woff') format('woff'),
  url('../fonts/pfdin-text-cond-pro/pfdintextcondpro-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}