<div class="chars" id="characteristics">
    <div class="container chars__container">
        <div class="chars__intro">
            <div class="chars__headline">
                <h2 class="chars__title">ХАРАКТЕРИСТИКИ</h2>
                <span class="chars__model">FH-A11</span>
            </div>
            <div class="chars__img">
                <img src="images/heater_preview.png" alt="" class="chars__img-preview">
                <a href="#" class="chars__img-link">увеличить фото</a>
            </div>
        </div>
        <div class="chars__spreadsheet">
            <table class="chars-table">
                <tr class="chars-table__tr bg-green">
                    <td class="chars-table__td chars-table__td_left">Мощность</td>
                    <td class="chars-table__td chars-table__td_right">1000/2000 Вт</td>
                </tr>
                <tr class="chars-table__tr">
                    <td class="chars-table__td chars-table__td_left">Регулируемый термостат</td>
                    <td class="chars-table__td chars-table__td_right">есть</td>
                </tr>
                <tr class="chars-table__tr bg-green">
                    <td class="chars-table__td chars-table__td_left">Защита от перегрева</td>
                    <td class="chars-table__td chars-table__td_right">есть</td>
                </tr>
                <tr class="chars-table__tr">
                    <td class="chars-table__td chars-table__td_left">Положения</td>
                    <td class="chars-table__td chars-table__td_right">стоя</td>
                </tr>
                <tr class="chars-table__tr bg-green">
                    <td class="chars-table__td chars-table__td_left">Режимы работы</td>
                    <td class="chars-table__td chars-table__td_right">вентилятор, тепло</td>
                </tr>
                <tr class="chars-table__tr">
                    <td class="chars-table__td chars-table__td_left">Световой индикатор</td>
                    <td class="chars-table__td chars-table__td_right">есть</td>
                </tr>
                <tr class="chars-table__tr bg-green">
                    <td class="chars-table__td chars-table__td_left">Ручка для переноски</td>
                    <td class="chars-table__td chars-table__td_right">есть</td>
                </tr>
                <tr class="chars-table__tr">
                    <td class="chars-table__td chars-table__td_left">Электропитание</td>
                    <td class="chars-table__td chars-table__td_right">220 В</td>
                </tr>
            </table>

        </div>
        <div class="chars__order">
            <div class="chars__price">
                <div class="chars__price-old">235 грн</div>
                <div class="chars__price-new">189 грн</div>
            </div>
            <button class="button chars__order-now">Заказать сейчас</button>
        </div>
    </div>
</div>