<div class="main-banner">
    <div class="container main-banner__container">
        <div class="buy-heater">
            <img src="images/action_corner.png" alt="" class="buy-heater__action">
            <div class="buy-heater__left">
                <h1 class="buy-heater__title">Купи<br>обогреватель</h1>
                <div class="buy-heater__after-title">
                    <div class="buy-heater__description">
                        <span class="buy-heater__description-top">и получи в подарок -</span>
                        <span class="buy-heater__description-bottom">сушилку для обуви!</span>
                    </div>
                    <div class="buy-heater__plus">+</div>
                    <img src="images/shoes_heater.png" alt="" class="buy-heater__shoes-heater">
                </div>
            </div>
            <div class="buy-heater__right">
                <img src="images/heater_big.png" alt="" class="buy-heater__img">
                <div class="buy-heater__price">
                    <div class="buy-heater__price-old">220</div>
                    <div class="buy-heater__price-new">179</div>
                    <div class="buy-heater__price-currency">грн</div>
                </div>
            </div>
        </div>
        <div class="countdown-timer">
            <ul class="countdown-timer__time" id="getting-started">
                <li class="countdown-timer__time-item">
                    <div class="countdown-timer__time-value" id="clock-days">00</div>
                    <div class="countdown-timer__time-text">дн.</div>
                </li>
                <li class="countdown-timer__time-item">
                    <div class="countdown-timer__time-value" id="clock-hours">00</div>
                    <div class="countdown-timer__time-text">час.</div>
                </li>
                <li class="countdown-timer__time-item">
                    <div class="countdown-timer__time-value" id="clock-minutes">00</div>
                    <div class="countdown-timer__time-text">мин.</div>
                </li>
                <li class="countdown-timer__time-item">
                    <div class="countdown-timer__time-value" id="clock-seconds">00</div>
                    <div class="countdown-timer__time-text">сек.</div>
                </li>
            </ul>
            <!--<script src="//megatimer.ru/get/01a7b26d35a65f6c96a578c9055164d9.js"></script>-->
            <!--<div class="clock-builder-output clock"></div>-->
            <!--<style text="text/css">body .flip-clock-wrapper ul li a div div.inn, body .flip-clock-small-wrapper ul li a div div.inn { color: #2f2f2f; background-color: #f1f1f1; } body .flip-clock-dot, body .flip-clock-small-wrapper .flip-clock-dot { background: #fff; box-shadow: none;} body .flip-clock-wrapper .flip-clock-meridium a, body .flip-clock-small-wrapper .flip-clock-meridium a { color: #fff; }</style>-->
            <!--<script type="text/javascript">-->
                <!--$(function(){-->
                    <!--FlipClock.Lang.Custom = { days:'дни', hours:' часы', minutes:' минуты', seconds:' секунды' };-->
                    <!--var opts = {-->
                        <!--clockFace: 'DailyCounter',-->
                        <!--countdown: true,-->
                        <!--language: 'Custom'-->
                    <!--};-->
                    <!--var countdown = 1566477420 - ((new Date().getTime())/1000); // from: 08/22/2019 03:37 pm +0300-->
                    <!--countdown = Math.max(1, countdown);-->
                    <!--$('.clock-builder-output').FlipClock(countdown, opts);-->
                <!--});-->
            <!--</script>-->
            <button class="button countdown-timer__order-now">Заказать сейчас</button>
        </div>
        <div class="promo">
            <div class="container promo__container">
                <div class="promo__slogan">
                    <div class="promo__slogan-title">Обеспечив тепло в Вашем доме</div>
                    <div class="promo__slogan-description">Вы сохраните теплоту Ваших отношений</div>
                </div>
            </div>
        </div>
    </div>
</div>


