<div class="main-banner"  id="home">
    <div class="container main-banner__container">
        <div class="buy-heater">
            <img src="images/action_corner.png" alt="" class="buy-heater__action">
            <div class="buy-heater__left">
                <h1 class="buy-heater__title">Купи<br>обогреватель</h1>
                <div class="buy-heater__after-title">
                    <div class="buy-heater__description">
                        <span class="buy-heater__description-top">и получи в подарок -</span>
                        <span class="buy-heater__description-bottom">сушилку для обуви!</span>
                    </div>
                    <div class="buy-heater__plus">+</div>
                    <img src="images/shoes_heater.png" alt="" class="buy-heater__shoes-heater">
                </div>
            </div>
            <div class="buy-heater__right">
                <img src="images/heater_big.png" alt="" class="buy-heater__img">
                <div class="buy-heater__price">
                    <div class="buy-heater__price-old">220</div>
                    <div class="buy-heater__price-new">179</div>
                    <div class="buy-heater__price-currency">грн</div>
                </div>
            </div>
        </div>
        <div class="main-banner__timer">

            {{> flip-countdown }}

            <a href="#contacts" class="button main-banner__order-now">Заказать сейчас</a>
        </div>
        <div class="promo">
            <div class="container promo__container">
                <div class="promo__slogan">
                    <div class="promo__slogan-title">Обеспечив тепло в Вашем доме</div>
                    <div class="promo__slogan-description">Вы сохраните теплоту Ваших отношений</div>
                </div>
            </div>
        </div>
    </div>
</div>


