<form class="contact-form"
      enctype="multipart/form-data"
      method="post">
    <div class="contact-form__left-part">
        <div class="contact-form__field-wrapper">
            <input class="contact-form__field"
                   name="name"
                   placeholder="Ваше Имя"
                   autocomplete="off"
                   >
        </div>
        <div class="contact-form__field-wrapper">
            <input name="phone"
                   type="tel"
                   placeholder="+380 (__) ___-__-__"
                   autocomplete="off"
                   class="contact-form__field"
                   >
        </div>
        <div class="contact-form__field-wrapper">
            <input name="email"
                    class="contact-form__field"
                    placeholder="name@mail.com"
                    autocomplete="off"
                    >
        </div>
        <div class="contact-form__field-wrapper">
            <select name="city" id="" class="contact-form__select">
                <option disabled selected>Ваш город</option>
                <option>Винница</option>
                <option>Днепр (Днепропетровск)</option>
                <option>Донецк</option>
                <option>Житомир</option>
                <option>Запорожье</option>
                <option>Ивано-Франковск</option>
                <option>Киев</option>
                <option>Кропивницкий (Кировоград)</option>
                <option>Луганск</option>
                <option>Луцк</option>
                <option>Львов</option>
                <option>Николаев</option>
                <option>Одесса</option>
                <option>Полтава</option>
                <option>Ровно</option>
                <option>Симферополь</option>
                <option>Сумы</option>
                <option>Тернополь</option>
                <option>Ужгород</option>
                <option>Харьков</option>
                <option>Херсон</option>
                <option>Хмельницкий</option>
                <option>Черкассы</option>
                <option>Чернигов</option>
                <option>Черновцы</option>
            </select>
        </div>
    </div>
    <div class="contact-form__right-part">
        <textarea name="message"
                class="contact-form__area"
                placeholder="Ваше сообщение"
                ></textarea>
    </div>

    <button class="button contact-form__submit" type="submit">Отправить сообщение</button>
    <p class="contact-form__errors">
    </p>
</form>