<div class="social-media">
    <a href="#" class="social-media__item">
        <img src="images/social-media_vk.png" alt="" class="social-media__item-icon">
    </a>
    <a href="#" class="social-media__item">
        <img src="images/social-media_fb.png" alt="" class="social-media__item-icon">
    </a>
    <a href="#" class="social-media__item">
        <img src="images/social-media_twitter.png" alt="" class="social-media__item-icon">
    </a>
    <a href="#" class="social-media__item">
        <img src="images/social-media_gplus.png" alt="" class="social-media__item-icon">
    </a>
    <a href="#" class="social-media__item">
        <img src="images/social-media_youtube.png" alt="" class="social-media__item-icon">
    </a>
</div>
