<footer class="main-footer">
    <div class="container main-footer__container">
        <img src="./images/logo_desktop.png" alt="" class="main-footer__logo-desktop">
        <img src="./images/logo_mobile.png" alt="" class="main-footer__logo-mobile">
        <div class="main-footer__contacts">
            <div class="main-footer__contacts-phones">
                <a href="tel:38 050 222-22-33" class="main-footer__contacts-phone">+38 050 222-22-33</a>
                <a href="tel:38 066 344-33-33" class="main-footer__contacts-phone">+38 066 344-33-33</a>
            </div>
        </div>
        <div class="main-footer__social-media">
            {{> social-media }}
        </div>
    </div>
</footer>