<div class="reasons" id="reasons">
    <div class="container reasons__container">
        <div class="reasons__content">
            <h2 class="reasons__headline">Узнаете себя?</h2>
            <div class="reasons__list">
                <ul class="reasons__list-left">
                    <li class="reasons__item">
                        <img src="images/icon1.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Перемерзла<br>вода в трубе?</div>
                            <div class="reasons__item-description">Найдите в доме место, где перемерзла вода, направьте на него обогреватель и вода появится за считанные минуты.</div>
                        </div>
                    </li>
                    <li class="reasons__item">
                        <img src="images/icon2.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Нужно быстро<br>высушить обувь?</div>
                            <div class="reasons__item-description">Вытащите стельки, поставьте их и обувь вблизи тепловентилятора - уже через 10 минут, можно отправляться в путь.</div>
                        </div>
                    </li>
                    <li class="reasons__item">
                        <img src="images/icon3.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">За компьютером,<br>а ноги мерзнут?</div>
                            <div class="reasons__item-description">Включите обогреватель на экономный режим, направьте на ноги и наслаждайтесь комфортной работой.</div>
                        </div>
                    </li>
                    <li class="reasons__item">
                        <img src="images/icon4.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Батарея не может<br>обогреть комнату?</div>
                            <div class="reasons__item-description">Следите за температурой в комнате, как только опускается - незамедлительно включайте обогреватель. </div>
                        </div>
                    </li>
                </ul>
                <ul class="reasons__list-right">
                    <li class="reasons__item">
                        <img src="images/icon5.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Пришли с мороза, нужно<br>быстро согреться?</div>
                            <div class="reasons__item-description">Теплый чай, одеяло и направленный тепловентилятор поможет быстро согреться в любую погоду.</div>
                        </div>
                    </li>
                    <li class="reasons__item">
                        <img src="images/icon6.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Не хотите купаться в холодной<br>ванной комнате?</div>
                            <div class="reasons__item-description">За 10 минут до приема душа, поставьте тепловентилятор в комнате, закройте дверь и забудьте об этой проблеме.</div>
                        </div>
                    </li>
                    <li class="reasons__item">
                        <img src="images/icon7.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Не можете вылезти из-под<br>одеяла из-за холода?</div>
                            <div class="reasons__item-description">Конвекторы и масляные обогреватели достаточно долго разогреваются, включите тепловентелятор и поваляйтесь еще 10 минут и больше не придется терпеть утренний озноб.</div>
                        </div>
                    </li>
                    <li class="reasons__item">
                        <img src="images/icon8.png" alt="" class="reasons__item-icon">
                        <div class="reasons__item-info">
                            <div class="reasons__item-title">Устали от больших цен,<br>но обогреватель нужен?</div>
                            <div class="reasons__item-description">Тепловентиляторы дешевле любых других обогревателей, но не уступают в эффективности, что позволяют им сохранить за собой место в офисах и домах еще на долгое время.</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>