<nav class="nav">
    <a href="#home" class="nav__link">Главная</a>
    <a href="#reasons" class="nav__link">Почему</a>
    <a href="#how-to-order" class="nav__link">Как заказать</a>
    <a href="#characteristics" class="nav__link">Характеристики</a>
    <a href="#contacts" class="nav__link">Контакты</a>
</nav>

