<div class="contacts" id="contacts">
    <div class="container contacts__container">
        <h2 class="contacts__headline">Контактная информация</h2>
        <div class="contacts__form">
            {{> contact-form }}
        </div>
    </div>
</div>